button{
    border: 1px solid #999;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    float: left;
    width: 25px;
    height: 25px;
}
.board-row{
    display:table;
}

.cell{
    background: #fff;
}
.board{
    margin: 10px;
    border: 1px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    float: left;
}